<h2>VolgaCTF Activity regulations</h2>
<p class="lead">Greetings everybody and welcome to VolgaCTF Activity!</p>

<p class="lead">To take part in the competition, you should sign up with an email address, your team's name (Latin characters only) and a logo. <strong>Warning!</strong> You will not be able to change your team's name once registered so please <a href="https://ctftime.org/stats/" target="_blank" rel="noopener">be mindful</a> in order not to take an other team's name by accident. The number of team members is not limited.</p>

<p class="lead">The very top contestant/team <strong>physically present</strong> at <a href="https://volgactf.ru/en/volgactf-2020-final/final.html" target="_blank" rel="noopener">VolgaCTF 2020 Final</a> venue receives a prize.</p>

<p class="lead">Please specify a valid email address so as to get a confirmation email. It will be <strong>impossible</strong> to change the email address after you confirm your participation by clicking on a verification link. Note that the verification link expires in a few hours. A confirmation email with a new verification link may be requested on your team's profile page.</p>

<p class="lead"><strong>Warning!</strong> Disposable email addresses will not be approved of. A team taking a disposable email address may be disqualified.</p>

<!--<p class="lead">Besides, we kindly ask you to specify your country in the registration form - we are collecting this information for statistical purposes.</p>

<p class="lead">Academic teams (i.e. affiliated with educational establishments) are <strong>required</strong> to fill in an institution field in their profile pages.</p>-->

<p class="lead">The competition starts on September 15 at 10:00 SAMT&nbsp;/&nbsp;06:00 UTC and lasts 36 hours. Flags match <code>/VolgaCTF{[\x20-\x7F]+}/</code> unless stated otherwise. Check the <a href="/news" target="_blank" rel="noopener">News</a> page at times &ndash; there might be some important pieces of information about the competition.</p>

<!--<p class="lead">We will answer your questions and make announcements in a <a href="https://t.me/joinchat/" target="_blank" rel="noopener">Telegram public chat</a> (<mark>users from Russia</mark> &ndash; you may <a href="https://t-do.ru/joinchat/" target="_blank" rel="noopener">use this link</a>).-->

<p class="lead">Competitors are forbidden to perform destructive actions against competition infrastructure (<code>*.volgactf.ru</code> and <code>*.volgactf.org</code>) and to prevent other teams from playing. A team violating the rules will be disqualified.</p>

<!--<p class="lead">While conversing in the Telegram public chat/IRC channel, you are expected to be respectful to each other and to restrain from using obscene language. Exchanging flags is strictly prohibited. An individual asking for flags or trading their flags will be expelled from the chat/channel.</p>-->

<p class="lead">We reserve the right to amend these regulations at any time.</p>

<h2>Credits</h2>
<p class="lead"><!--Tasks and services are devised in collaboration with the <a href="http://www.ssau.ru/english/education/institutes_faculties/ime/" target="_blank" rel="noopener">Institute of Informatics, Mathematics and Electronics of Samara University</a>. -->All rights to published tasks and services belong to their respective authors.</p>

<h3>Other information</h3>
<p class="lead">This website makes use of third-party services so as to collect information and improve your experience with the competition, namely Google Analytics.</p>
<p class="lead">This website includes GeoLite2 data created by MaxMind, available from
<a href="http://www.maxmind.com" target="_blank" rel="noopener">http://www.maxmind.com</a>.</p>
